In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../dataset/raw/vehicle_damage_dataset/labels.csv")

In [3]:
df

                                             image_path class damage_category
0                        real\vehicle_damage\REAL\1.jpg  real  vehicle_damage
1                       real\vehicle_damage\REAL\10.jpg  real  vehicle_damage
2                      real\vehicle_damage\REAL\100.jpg  real  vehicle_damage
3                     real\vehicle_damage\REAL\1000.jpg  real  vehicle_damage
4                     real\vehicle_damage\REAL\1001.jpg  real  vehicle_damage
...                                                 ...   ...             ...
11381  fake\vehicle_damage\FAKE\fake_car_damage_995.png  fake  vehicle_damage
11382  fake\vehicle_damage\FAKE\fake_car_damage_996.png  fake  vehicle_damage
11383  fake\vehicle_damage\FAKE\fake_car_damage_997.png  fake  vehicle_damage
11384  fake\vehicle_damage\FAKE\fake_car_damage_998.png  fake  vehicle_damage
11385  fake\vehicle_damage\FAKE\fake_car_damage_999.png  fake  vehicle_damage

[11386 rows x 3 columns]

In [4]:
df.head()

                          image_path class damage_category
0     real\vehicle_damage\REAL\1.jpg  real  vehicle_damage
1    real\vehicle_damage\REAL\10.jpg  real  vehicle_damage
2   real\vehicle_damage\REAL\100.jpg  real  vehicle_damage
3  real\vehicle_damage\REAL\1000.jpg  real  vehicle_damage
4  real\vehicle_damage\REAL\1001.jpg  real  vehicle_damage

In [5]:
df.tail()

                                             image_path class damage_category
11381  fake\vehicle_damage\FAKE\fake_car_damage_995.png  fake  vehicle_damage
11382  fake\vehicle_damage\FAKE\fake_car_damage_996.png  fake  vehicle_damage
11383  fake\vehicle_damage\FAKE\fake_car_damage_997.png  fake  vehicle_damage
11384  fake\vehicle_damage\FAKE\fake_car_damage_998.png  fake  vehicle_damage
11385  fake\vehicle_damage\FAKE\fake_car_damage_999.png  fake  vehicle_damage

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11386 entries, 0 to 11385
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   image_path       11386 non-null  object
 1   class            11386 non-null  object
 2   damage_category  11386 non-null  object
dtypes: object(3)
memory usage: 267.0+ KB

In [7]:
df.shape

(11386, 3)

In [8]:
df.describe()

                            image_path  class damage_category
count                            11386  11386           11386
unique                           11386      2               1
top     real\vehicle_damage\REAL\1.jpg   real  vehicle_damage
freq                                 1   7200           11386